In [155]:
import mysql.connector
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Make HTTP get request
url = "https://en.wikipedia.org/wiki/List_of_NFL_franchise_owners"
page = requests.get(url)
page.status_code

# Parse content
content = BeautifulSoup(page.text, "html.parser")
#content.text

# Get data table
table = content.find("table", class_="wikitable sortable")
# Save in Pandas dataframe?
df = pd.read_html(str(table))
df = pd.DataFrame(df[0])
df
df.describe()

,Franchise,Principal Owner(s),Purchase Price,Yearacquired
count,32,32,32,32
unique,32,32,30,32
top,New England Patriots,Clark Hunt and siblings‡2,-,1984[12]
freq,1,1,2,1