In [26]:
import mysql.connector
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Make HTTP get request
url = "https://en.wikipedia.org/wiki/List_of_NFL_franchise_owners"
page = requests.get(url)
page.status_code

# Parse content
content = BeautifulSoup(page.text, "html.parser")
#content.text

# Get data table
table = content.find("table", class_ ="wikitable sortable")
for x in table.find_all('tbody'):
    rows = x.find_all('tr')[0:]
    for row in rows:
        team = row.find_all('td')[0:]
team

[<td><a href="/wiki/Washington_Football_Team" title="Washington Football Team">Washington Football Team</a></td>,
 <td><span class="flagicon"><a href="/wiki/United_States" title="United States"><img alt="United States" class="thumbborder" data-file-height="650" data-file-width="1235" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/23px-Flag_of_the_United_States.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/35px-Flag_of_the_United_States.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/46px-Flag_of_the_United_States.svg.png 2x" width="23"/></a></span> <a href="/wiki/Daniel_Snyder" title="Daniel Snyder">Dan Snyder</a>â€ </td>,
 <td>$800,000,000</td>,
 <td><a href="/wiki/List_of_Washington_Football_Team_seasons" title="List of Washington Football Team seasons">1999</a><sup class="reference" id="cite_ref-37"><a href="#cite_note-37">[37]</a></sup>
 </td>]